@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
}

/* nav bar*/
.main{
    min-height: 80vh;
    background: url(grp.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    }
   
  .topnav {
    overflow: hidden;
    background-color:#d3d2d2;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: rgb(18,60,107);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: transparent;
    color: rgb(182,151,96);
    transition: 1s;
  }
  
  .topnav a.active {
    color:#2C2A58;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }




.overlay{
    background: rgba(22, 28, 43, 0.575);
min-height: 80vh;
    padding: 10px;
}

.content{
    position:absolute;
    top: 38%;
    left: 30%;
    transform: translate(-40%, -40%);
    color:rgb(221, 218, 218);
    text-align: center;
    
}

.content h3{
    font-size: 40px;
    text-align: center;
   
}
.content h3 p{
    font-size:15px;
text-align: center;
font-weight: 500;
margin-bottom: 20px;
}
.about{
    display: grid;
    place-items: center;
min-height: 60vh;
width: 100%;
background: #2C2A58;
}
.row{
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;

}
.row .left{
    overflow: hidden;
}
.row .left img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    margin-top: 40px;
    padding-bottom: 40px;
    border-radius: 7px;
}
.row .right{
    display: flex;
    align-items: center;
}
.row .right .message{
    padding-left: 20px;
}
.row .right .message h3{
    padding-left: 20px;
    font-weight: 550;
    font-size: 36px;
    color:#e7e5e5;
    margin-bottom: 10px;
    margin-top: 10px;
}
.row .right .message p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
    color: #d3d2d2;
}
.row .right .message p a{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
    color: #d3d2d2;
}
@media (max-width:991px) {
    .row .right .message{
        padding-left: 20px;
    }
}
@media (max-width:768px)
{
    .row{
        width: 90%;
        grid-template-columns:  1fr;
    
    }
}