
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.main{
min-height: 80vh;
background: url(grp.jpg) no-repeat;
background-size: cover;
background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding: 1.3rem;
    background:#f1f1f1;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 100;

}
.logo img {
height: 35px;
width: 280px;

}
.navbar a{
    font-size: 1.15rem;
    color:#2C2A58;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;

}
.navbar a:hover{
    font-size: 1.15rem;
    color:#BD9C6C;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;

}


.overlay{
    background: rgba(22, 28, 43, 0.575);
min-height: 80vh;
    padding: 10px;
}

.content{
    position:absolute;
    top: 38%;
    left: 30%;
    transform: translate(-40%, -40%);
    color:rgb(221, 218, 218);
    text-align: center;
    
}

.content h3{
    font-size: 40px;
    text-align: center;
   
}
.content h3 p{
    font-size:15px;
text-align: center;
font-weight: 500;
margin-bottom: 20px;
}
.about{
    display: grid;
    place-items: center;
min-height: 60vh;
width: 100%;
background: #2C2A58;
}
.row{
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 30px;

}
.row .left{
    overflow: hidden;
}
.row .left img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    margin-top: 40px;
    padding-bottom: 40px;
    border-radius: 7px;
}
.row .right{
    display: flex;
    align-items: center;
}
.row .right .message{
    padding-left: 20px;
}
.row .right .message h3{
    padding-left: 20px;
    font-weight: 550;
    font-size: 36px;
    color:#e7e5e5;
    margin-bottom: 20px;
}
.row .right .message p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
    color: #d3d2d2;
}
.row .right .message p a{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
    color: #d3d2d2;
}
@media (max-width:991px) {
    .row .right .message{
        padding-left: 20px;
    }
}
@media (max-width:768px)
{
    .row{
        width: 90%;
        grid-template-columns:  1fr;
    
    }
}